div.filter {
	border: 1px solid #c0c0c0;
	float: right;
}


div.session:nth-of-type(odd) {
	background: #eee;
}

div.session {
	overflow: auto;
	clear: both;
}




div.details {
	/*float: left;*/
}

li.info {
	width: 10em;
	text-align: left;
}

ul.infoblock {
	text-align: right;
	width: 95%;
}

em {
	font-weight:  bold;
}

.detailtabs {
	background: transparent;
	border: none;
	width: 45%;
	float: right;
}

.detailtabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 

.detailtabs .ui-tabs-nav .ui-state-default {
	background: transparent;
	border: none;
}

.detailtabs .ui-tabs-nav .ui-state-active {
	 background: transparent url(/images/tabarrow.png) no-repeat bottom center;
	 border: none;
}

.map {
	width: 300px;
	height: 100px;
}
	
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}

	/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-top: 2em;
			font-weight: bold;
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "Country"; }
		td:nth-of-type(2):before { content: "Language"; }
		td:nth-of-type(3):before { content: "Project"; }
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}
	
