.entry-content img {
	box-shadow: none;
	border-radius: 0;
}

.ui-widget {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-size: 1em;
}

.ui-tabs-nav .ui-state-active {
	 font-weight: bold;

}

code {
	margin-bottom: 1em !important;
}

/* ELAN Player
------------------------------------------------------------ */

#annotations {
	height:50%;
	overflow-y: scroll;
}

#wave {
    position: relative;
}

#progress-bar {
	 background-color: black; 
    position: absolute;
    z-index: 10;
    left: 0;
    top: 50%;
    margin-top: -10px;
    left: 5%;
    width: 0;
    height: 10px;
}

#kickoff-overlay {
	top: 30%;
    position: absolute;
    z-index: 10;
    left: 0;
    width: 99%;
    height: 100%;
    text-align:  center;
    font-size: 3em;
    font-weight: bold;
}

#play, #pause {
	font-size: 1.5em;
	padding: 10px 0px 10px 0px;
}

#annotations td {
	padding: 4px 2px 4px 2px;
}

#annotations th {
	padding: 4px 2px 10px 2px;
}

/* Plugin Query Area
------------------------------------------------------------ */

/* the query buttons */
#query-api, #query-api-advanced {
	cursor: pointer;
	margin: 0 0 0 5px;
	/*vertical-align: middle;*/
}

/* the category lists*/
#categories ul {
	list-style: none;
	padding-right: 1em;
}

#categories li {
	margin: 0;
	clear: both;
}

#categories .item {
	max-width: 20em;
	float: left;
	overflow: hidden;
	height: 1.7em;
	text-overflow: ellipsis;
	white-space: nowrap
}

#categories .count {
	padding-left: 0.5em;
	display: inline-block;
	height: 1.7em;
}

#categories p {
	margin-bottom: 5px;
}

/* waiting spinner gif shown while searching */
.waiting {
	background: no-repeat scroll 0 0;
	display: inline-block;
	height: 16px;
	margin-left: 5px;
	text-indent: -9999px;
	width: 16px;
	vertical-align: middle;
}

/* waiting spinner gif shown while loading autocomplete entries in advanced search */

.ui-autocomplete-loaded {
	 background: white url('/images/waiting.gif') right center no-repeat;
}

.ui-autocomplete-loading {
    background: white url('/images/waiting.gif') right center no-repeat;
  }

.imdi-active-category {
	text-decoration: underline;
}

.imdi-category-tabs {
	 background: transparent; 
	border: none;

}

.imdi-category-tabs h2  {

}

.imdi-category-tabs .ui-widget-header { 
     background: transparent;  
    border: none; 
    border-bottom: 1px solid  #aaaaaa; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 

.imdi-category-tabs .ui-tabs-nav {

}

.imdi-category-tabs .ui-tabs-nav .ui-state-default {
	 background: transparent; 
	border: none;
}

.imdi-category-tabs .ui-tabs-nav .ui-state-active {
	 background: transparent no-repeat bottom center; 
	 border: none;
}

.imdi-category-tabs .ui-tabs-nav li {
	width: 17%;
}

.imdi-category-tabs .ui-tabs-nav li a {
	 width: 99%;
	 padding-left: 0 !important;
	 padding-right: 0.5%;
	 overflow: hidden;
	 text-overflow: ellipsis;
}

.imdi-category-tabs .ui-tabs-nav img {
	padding-right: 0.3em;
}

.imdi-category-tabs .ui-tabs-panel {
	padding: 1em 8px;
}

/* icons for resource entries */ 
img.imdi_resource_icon {
	width: 2em;
}
img.imdi_access_level_image {
	width: 1em;
	padding-left: 0.5em;
	padding-bottom: 3px;
	vertical-align: none;
}

ul.resources {
	list-style: none;
	padding-left: 0;
}

li.resource {
	margin-left: 0;
}


/* Advanced Search */

#imdi-advanced-search #constraint {
	margin-bottom: 0.5em;
}

input#query-api-advanced {
	margin-top: 2em;
	margin-left: 0;
}


/* Plugin Results Area
------------------------------------------------------------ */

div#results-area {
	display: none;
}


/* one session result entry */
div.imdi_session {
	overflow: auto;
	clear: both;
	padding: 1em;
}

div.imdi_details {
	padding-right: 52%;
}

div.imdi_details  h2 {
 display: inline;
}

/* the detail tabs in each session */
.imdi_detailtabs {
	 background: transparent; 
	border: none;
	float: right;
	padding: 0 0em 2em 2em;
	width: 45%;
}

.imdi_detailtabs h2  {

}

.imdi_detailtabs .ui-widget-header { 
     background: transparent;  
    border: none; 
    border-bottom: 1px solid /* #c0c0c0 */; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
    font-size: small;
} 

.imdi_detailtabs .ui-tabs-nav {

}

.imdi_detailtabs .ui-tabs-nav .ui-state-default {
	 background: transparent; 
	border: none;
}

.imdi_detailtabs .ui-tabs-nav .ui-state-active {
	 background: transparent no-repeat bottom center; 
	 border: none;
}

.imdi_detailtabs .ui-tabs-nav li {
	width: 30%;
}

.imdi_detailtabs .ui-tabs-nav li a {
	 width: 99%;
	 padding-left: 0.5%;
	 padding-right: 0.5%;
	 overflow: hidden;
	 text-overflow: ellipsis;
}

.imdi_detailtabs .ui-tabs-nav img {
	padding-right: 0.3em;
	vertical-align: top;
}

/* the map in the country tab */
.map {
	width: 300px;
	height: 100px;
}

.imdi-open-imdi {
	font-size: small;
}

.imdi-active-page {
	text-decoration: underline;
}

/* Github Button Styling
------------------------------------------------------------ */
