<div>
<!-- 	<h1>{{session_name}} - {{session_title}}</h1>
 -->	 	<p>
 		{{# project}}{{trans.project}}: {{.}}<br />{{/ project}}
		{{# country}}{{trans.country}}: {{.}}<br />{{/ country}}
		{{# languages}}{{trans.languages}}: {{.}}{{/ languages}}
	</p>
	<p>{{session_desc}}</p>
	{{^ access}}
	<b>{{trans.accessDeniedText}}</b>
	{{/ access}}
	<p>{{trans.getResourceText}} <a href="{{filename}}">{{filename}}</a> ({{format}}{{# size}}, {{.}}{{/ size}})<br />
	<i>{{trans.downloadInstructions}}</i></p>
	{{# access }}
	<object data="{{filename}}"></object>
	{{/ access }}
</div>
<p><a href="javascript:history.back()"> {{trans.goBackText}} </a></p>