<li style="list-style-image:url({{listimageURL}})">
	{{&accessImage}}
<!-- 	<a style="vertical-align:super; " href="{{blogRoot}}?page_id={{videoPageID}}&amp;imdi_url={{imdiURL}}&amp;imdi_name={{imdiName}}&amp;imdi_access_level={{imdiAccessLevel}}&amp;imdi_session_name={{imdiSessionName}}&imdi_session_title={{imdiSessionTitle}}&amp;imdi_session_url={{imdiSessionURL}}">{{fileName}}</a> -->
	<a style="vertical-align:super; " href="{{blogRoot}}?page_id={{videoPageID}}&amp;imdi_url={{imdiURL}}&amp;url={{url}}">{{fileName}}</a>
</li>